# Same as .gitignore but for npm publish (without /dist)

# dependencies
/node_modules

# JetBrains IDE files
.idea/

# testing
/coverage

# misc
.DS_Store
*.pem
tsconfig.tsbuildinfo

# debug
npm-debug.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
